@font-face {
    font-family: 'David Libre';
    src: url('../fonts/DavidLibre-Medium.woff2') format('woff2'),
        url('../fonts/DavidLibre-Medium.woff') format('woff');
    font-weight: 500;
    font-style: normal;
}

@font-face {
    font-family: 'David Libre';
    src: url('../fonts/DavidLibre-Regular.woff2') format('woff2'),
        url('../fonts/DavidLibre-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cinzel';
    src: url('../fonts/Cinzel-Bold.woff2') format('woff2'),
        url('../fonts/Cinzel-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Cinzel';
    src: url('../fonts/Cinzel-Regular.woff2') format('woff2'),
        url('../fonts/Cinzel-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Cinzel';
    src: url('../fonts/Cinzel-Black.woff2') format('woff2'),
        url('../fonts/Cinzel-Black.woff') format('woff');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'David Libre';
    src: url('../fonts/DavidLibre-Bold.woff2') format('woff2'),
        url('../fonts/DavidLibre-Bold.woff') format('woff');
    font-weight: bold;
    font-style: normal;
}

